BasedOnStyle: Chromium
IndentWidth: 4
AccessModifierOffset: -4
ColumnLimit: 120
PointerAlignment: Right
IncludeBlocks: Regroup
SortIncludes: CaseSensitive
InsertNewlineAtEOF: true
KeepEmptyLinesAtEOF: true
